



body{
	background: #222;
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
}

.container{
	width: 60%;
	border-radius: 3px;
	box-shadow: 0 0 25px #000;
	padding: 10px 80px 40px;
	flex-direction: column;
	justify-content: space-between;
	margin-bottom: 1000px;
}

h1{
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 30px;
}

.container .bar:not(:last-child){
	margin-bottom: 15px;
}

.bar{
	width: 100%;
	background: #444;
	border-radius: 5px;
	box-shadow: inset 5px 5px 10px #2c2c2c,
				inset -5px -5px 10px #5c5c5c;
}

.bar-stat{
	padding: 8px 20px ;
	border-radius: 5px;
	text-shadow:  0 0 5px #000;
}

#html{
	background: red;
	animation: htmlSlide 5s cubic-bezier(0.33, 1, 0.68, 1) forwards;
}

#css{
	background: blue;
	animation: cssSlide 5s cubic-bezier(0.33, 1, 0.68, 1) forwards;
}

#responsive{
	background: orange;
	animation: responsiveSlide 5s cubic-bezier(0.33, 1, 0.68, 1) forwards;
}

#js{
	background: yellow;
	animation: jsSlide 5s cubic-bezier(0.33, 1, 0.68, 1) forwards;
}

@keyframes htmlSlide{
	0%{width: 0%;}
	100%{width: 70%;}
}

@keyframes cssSlide{
	0%{width: 0%;}
	100%{width: 50%;}
}

@keyframes responsiveSlide{
	0%{width: 0%;}
	100%{width: 30%;}
}

@keyframes jsSlide{
	0%{width: 0%;}
	100%{width: 40%;}
}

